.navigation{

    &__checkbox{
        display: none; 
    }

    //background-color behind the white button less z-index than all others
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary, $color-primary-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem; 
        z-index: 1000;

        @include respond(tab-port){
            top: 3.5rem;
            right: 4.5rem;
        }

        -webkit-transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        // transform: scale(80);
    }

    //the white button that z-index most of the top , always visibale to the user and its also fixed position
    &__button{
        height: 7rem;
        width: 7rem;
        background-color: $color-text-light;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3em rgba($color-black, .5);
        text-align: center;

        @include respond(tab-port){
            top: 3rem;
            right: 4rem;
        }
    }


    // the list parent class the &__nav cover all screen with and hight
    &__nav{
        height: 100vh;
        width:100%;
        position: fixed;
        z-index: 1500;
        top: 0;
        left: 0;
        

        opacity: 0;
        width: 0;
        -webkit-transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    // the links or list inside this list class its position is center
    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        list-style: none;
        width: 100%;
    }

    &__item{
        margin: 2rem;
        
    }

    // the menu links
    &__link{

        &:link,
        &:visited{
        padding: 1rem 2rem;
        text-decoration: none;
        color: $color-text-light;
        font-size: 3rem;
        font-weight: 500;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        //background-gradientbackground-size: 230%;
        //background-sizethe230timeswhichgoesoutoftheandnotvisibletotheusertransition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
}

        &:hover,
        &:active{
            background-position:100%; // whenever hover the links its show white white background color which is white .
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .8);
        }
        
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
        -webkit-transform: scale(80);
        -moz-transform: scale(80);
        -ms-transform: scale(80);
        -o-transform: scale(80);
}

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: .2rem;
            background-color: $color-nav-icon;
            
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
}

        &::before{top:-.8rem;}
        &::after{top:.8rem;}
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}